

[Unit]
Description=Energy Calculation service
After=multi-user.target

[Service]
#Type=forking
User=oper
PIDfile=/var/tmp/energy_calc.pid
Environment="PYTHONPATH=/home/femanov/python"
ExecStart=/home/femanov/python/service/energy_proc.py

[Install]
WantedBy=multi-user.target
