[Unit]
Description=Accelerator mode control service
After=network.target

[Service]
User=oper
Type=forking
PIDFile=/run/moded.pid

Environment="LD_LIBRARY_PATH=/home/oper/epics/base/lib/linux-x86_64:/home/oper/4pult/cda/plugins"
Environment="EPICS_CA_AUTO_ADDR_LIST=NO"
Environment="EPICS_CA_ADDR_LIST=moxa-2"
Environment="PYTHONPATH=/home/oper/python/ic_modules:/home/oper/python"

ExecStart=/home/oper/py36/bin/python3 /home/oper/python/services/moded/moded.py


Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target